@import 'variables';

.button,
.card__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: $button-width;
  height: $button-height;
  border: 1px solid $main-color;
  border-radius: $button-border-radius;
  background-color: $main-color;
  text-align: center;
  line-height: 16px;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  color: $main-text-color;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $main-text-color;
    color: $main-color;
  }
}
