@import 'variables';

.card {
  width: $card-width;
  height: $card-height;
  border: $card-border;
  border-radius: $card-border-radius;

  &__inner {
    box-sizing: border-box;
    height: 100%;
    padding: $card-padding;
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: $card-image-width;
    height: $card-image-height;
    object-fit: contain;
    display: block;
    margin: 0 auto $spacing-large;
  }

  &__name {
    margin: 0 0 4px;
    line-height: 18px;
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
    color: $title-color;
  }

  &__code {
    margin: 0 0 16px;
    line-height: 14px;
    font-size: $font-size-sm;
    color: $text-gray;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price {
    line-height: 18px;
    font-size: $font-size-md;
    color: $text-gray;
  }

  &__price-value {
    line-height: 18px;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    color: $title-color;
  }

  &__reviews {
    line-height: 14px;
    font-size: $font-size-sm;
    color: $title-color;
  }
}
