@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap';

.card {
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  height: 408px;
  padding: 32px 16px 16px;
  background: #fff;
}

.card__inner {
  display: block;
}

.card__img,
.card__image {
  object-fit: contain;
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
  display: block;
}

.card__name,
.card__title {
  margin: 0 0 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #060b35;
}

.card__code {
  margin: 0 0 16px;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.card__rating,
.card__review-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.card__prices,
.card__price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card__price-label {
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.card__price,
.card__price-value {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #060b35;
}

.card__reviews,
.card__review-count {
  font-size: 10px;
  line-height: 14px;
  color: #060b35;
}

.stars {
  display: flex;
}

.stars__star {
  background-image: url('../images/star.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars--1 .stars__star:nth-child(-n + 1) {
  background-image: url('../images/star-active.svg');
}

.stars--2 .stars__star:nth-child(-n + 2) {
  background-image: url('../images/star-active.svg');
}

.stars--3 .stars__star:nth-child(-n + 3) {
  background-image: url('../images/star-active.svg');
}

.stars--4 .stars__star:nth-child(-n + 4) {
  background-image: url('../images/star-active.svg');
}

.stars--5 .stars__star:nth-child(-n + 5) {
  background-image: url('../images/star-active.svg');
}

.button,
.card__buy {
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  display: flex;
}

.button:hover {
  color: #00acdc;
  background-color: #fff;
}

html {
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}
