@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}

.card__inner {
  width: 200px;
  height: 408px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__img {
  width: 80%;
  object-fit: contain;
  display: block;
  padding-top: 30px;
}

.card__name {
  text-decoration: none;
  font-family: 'Roboto', Arial, sans-serif;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  font-size: 12px;
}

.card__code {
  text-decoration: none;
  font-family: 'Roboto', Arial, sans-serif;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  align-self: flex-start;
  font-size: 10px;
  color: gray;
}

.card__rating {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  align-self: flex-start;
}

.card__prices {
  display: flex;
  align-items: center;
  gap: 65px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card__price {
  text-decoration: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
}

.card__price-value {
  text-decoration: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.card__reviews {
  padding-top: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 10px;
}

.stars {
  display: flex;
}

.stars__star {
  background-image: url("../images/star.svg");
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars--1 .stars__star:nth-child(-n + 1) {
  background-image: url("../images/star-active.svg");
}

.stars--2 .stars__star:nth-child(-n + 2) {
  background-image: url("../images/star-active.svg");
}

.stars--3 .stars__star:nth-child(-n + 3) {
  background-image: url("../images/star-active.svg");
}

.stars--4 .stars__star:nth-child(-n + 4) {
  background-image: url("../images/star-active.svg");
}

.stars--5 .stars__star:nth-child(-n + 5) {
  background-image: url("../images/star-active.svg");
}

.button {
  display: flex;
  background-color: #609edf;
  border-radius: 5px;
  height: 40px;
  width: 166px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Roboto', Arial, sans-serif;
}

.button:hover {
  background-color: white;
  border: solid #609edf 1px;
  cursor: pointer;
  color: #609edf;
}
