body {
  margin: 0;
}

.board {
  width: 200px;
  height: 408px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board img {
  width: 80%;
  object-fit: contain;
  display: block;
  padding-top: 30px;
}

.product-name {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  font-size: 12px;
}

.product-code {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  align-self: flex-start;
  font-size: 10px;
  color: gray;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 10px;
}

.product-reviews {
  padding-top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

.stars {
  display: flex;
}

.stars__star {
  background-image: url(/src/images/star.svg);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars--4 .stars__star:nth-child(-n + 4) {
  background-image: url(/src/images/star-active.svg);
}

.button {
  display: flex;
  background-color: cadetblue;
  border-radius: 5px;
  height: 40px;
  width: 166px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
