@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap';
@import 'variables';
@import 'card';
@import 'stars';
@import 'button';

html {
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $main-font;
}
