@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap';
@import 'variables';
@import 'card';
@import 'stars';
@import 'button';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $main-font;
}
