@import 'variables';

.stars {
  display: flex;
  &__star {
    background-image: url('../images/star.svg');
    width: $star-size;
    height: $star-size;
    margin-right: $star-gap;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &--1 .stars__star:nth-child(-n + 1) {
    background-image: url('../images/star-active.svg');
  }

  &--2 .stars__star:nth-child(-n + 2) {
    background-image: url('../images/star-active.svg');
  }

  &--3 .stars__star:nth-child(-n + 3) {
    background-image: url('../images/star-active.svg');
  }

  &--4 .stars__star:nth-child(-n + 4) {
    background-image: url('../images/star-active.svg');
  }

  &--5 .stars__star:nth-child(-n + 5) {
    background-image: url('../images/star-active.svg');
  }
}
